/* Página de sobre */

.sobre{
    border: #9d0208 4px solid;
    width: 80%;
    height: fit-content;
    margin-left: 10%;
    margin-bottom: 30%;
    font-size: 20px;
    padding: 30px;

    text-overflow: clip;
}

main{
    height: 70vh;
}